@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* =========================
   Base styles
   ========================= */
@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-family: "DM Sans", sans-serif;
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.5px;
  }

  html,
  body,
  #root {
    height: 100%;
    /* width: max-content; */
  }
}

/* =========================
   Custom checkbox
   ========================= */
input.defaultCheckbox {
  position: relative;
}

input.defaultCheckbox::before {
  content: url("/src/assets/svg/checked.svg");
  opacity: 0;
  height: 16px;
  width: 16px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

input:checked.defaultCheckbox::before {
  opacity: 1;
}
